body{
    background-image: linear-gradient(red, green);
    background-attachment: fixed;
}

#header{
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#room{
    background-image: url("room.png");
    width:800px;
    height:600px;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tree{
    background-image: url(treeLive.png);
    width: 254px;
    height: 433px;
    position: absolute;
    top: 24%;
    left:15%;
}
.ornament{
    background-image: url(orn.png);
    width:40px;
    height:40px;
}
#orn1{
    position: absolute;
    top:20%;
    left: 30%;
}
#orn2{
    position:absolute;
    top: 30%;
    left: 55%;
}
#orn3{
    position:absolute;
    top:40%;
    left:25%;
}
#orn4{
    position:absolute;
    top:48%;
    left:57%;
}
#orn5{
    position:absolute;
    top:57%;
    left:26%;
}
#orn6{
    position: absolute;
    top:67%;
    left:61%
}
#orn7{
    position:absolute;
    top:73%;
    left:20%;
}
#orn8{
    position:absolute;
    top:80%;
    left:50%;
}