body{
    background-image: linear-gradient(red, green);
    background-attachment: fixed;
}

#header{
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#footer{
    color:azure;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
}

#room{
    background-image: url("room.png");
    width:800px;
    height:600px;
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subelement{
    position:absolute;
}
#snowman{
    background-image:url("snowman.png");
    width:68px;
    height:89px;
    top: 53.6%;
    left:55%;
}
#tree{
    background-image: url("treeLive.png");
    width: 254px;
    height: 433px;
    top: 24%;
    left:15%;
}
#star{
    background-image: url("star.png");
    width: 50px;
    height: 50px;
    top:-5%;
    left:40.5%;
}
.ornament{
    background-image: url("orn.png");
    width:41px;
    height:51px;
}
#orn1{
    top:20%;
    left: 30%;
}
#orn2{
    top: 30%;
    left: 55%;
}
#orn3{
    top:40%;
    left:25%;
}
#orn4{
    top:48%;
    left:57%;
}
#orn5{
    top:57%;
    left:26%;
}
#orn6{
    top:67%;
    left:61%
}
#orn7{
    top:73%;
    left:20%;
}
#orn8{
    top:80%;
    left:50%;
}

#painting{
    top: 25%;
    left:80%;
    width:131px;
    height:178px;
    background-image: url("picture0.png");
}
/* #flashbang{
    width: 0%;
    height: 0%;
} */
.flash{
    width: 800px;
    height: 600px;
    background: rgba(255,255,255, 100%);
}
.flash2{
    width: 800px;
    height: 600px;
    background: rgba(255,255,255, 75%);
}
.flash3{
    width: 800px;
    height: 600px;
    background: rgba(255,255,255, 50%);
}
.flash4{
    width: 800px;
    height: 600px;
    background: rgba(255,255,255, 25%);
}
#windowpane{
    width: 187px;
    height: 152px;
    top: 127px;
    left: 417px;
}
#rock{
    width:45px;
    height:45px;
    top:190px;
    left:520px;
}
.brokenglass{
    background-image: url('brokenglass.png');
}
.visiblerock{
    background-image: url('rock.png');
}
.gift{
    width:67px;
    height:72px;
    background-image: url('giftbox0.png');
}
#gift0{
    top:520px;
    left:90px;
}
#gift1{
    top:530px;
    left:300px;
}
#gift2{
    top:522px;
    left:370px;
}